.idea
.DS_Store
target
*/target
*.iml
*.ipr
*.iws
*.log*
app/test/test-output
app/test/logs
.project
.classpath
*.class
.settings
workspace.xml
.itest
.idea
*_res.yaml
.flattened-pom.xml
*flattened-pom.xml
